/*this is a CSS Reset
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*HTML 5 reset for older browsers
*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  Body
  ========================================
*/

body {
    background: #fff;
    color: #000;
    font: 300 16px/22px "Roboto Condensed", "Poiret One";
}

/*
  ========================================
  Header
  ========================================
*/


header {
    margin-bottom: 0;
}

/*
  ========================================
  Navigation
  ========================================
*/

nav {
    background: #41444b;
    margin-top: 0;
    padding: 15px;
    text-align: center;
}

nav li {
    display: inline-block;
    letter-spacing: 3px;
    padding-left: 80px;
    text-transform: uppercase;
}

/*
  ========================================
  Links
  ========================================
*/

nav li a{
    text-decoration: none;
    color: #ddd;
}

a:hover {
    color: #da4949;
}



.serve {
    background: #fff;
    padding-bottom: 450px;
}

.colone {
    float: left;
    width: 50%;
} 

.coltwo {
    float:right;
    width: 50%;
    padding-top: 50px;
    padding-bottom: 10px;
}

.coltwo h3 {
    font-size: 25px;
    font-weight: 600;
    line-height: 55px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    word-spacing: 5px;
}

/*
  ========================================
  Typography
  ========================================
*/
.restaurant h1 {
    color: #fff;
    line-height: 55px;
    position: relative;
    padding: 50px;
    padding-bottom: 610px;
    font-size: 65px;
    font-weight: 800;
    text-align: center;
}

 h2 {
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 20px;
}

.contact h3 {
    font-size: 20px;
    padding: 20px;
}

.location h2 {
    padding-left: 20px;
}
 

/*
  ========================================
  Images
  ========================================
*/


.colone img {
    width: 100%;
}

.restaurant img {
    width: 100%;
    position:absolute;
}

.main-footer img {
    width: 5%;
}

/*
  ========================================
  Contact Us
  ========================================
*/

.contact {
    text-align: center;
    padding-top: 70px; 
    padding-bottom: 10px;
}


/*
  ========================================
  Location
  ========================================
*/

.location {
    background: #7fda89;
    padding: 40px;
}

/*
  ========================================
  About
  ========================================
*/

.about {
    padding: 40px;
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
}

.about p{
    line-height: 35px;
    font-size: 25px;
}

hr {
    width: 80%;
}

/*
  ========================================
  Contact Us
  ========================================
*/


form {
    background: #ddd;
    padding-bottom: 50px;
}


.register-group {
    padding: 30px;
}

.register-group label {
    cursor: pointer;
    font-weight: 400;
}


.register-group input {
    border: 1px solid #c6c9cc;
    border-radius: 5px;
    color: #888;
    margin: 30px;
    padding: 5px 8px;
}


.register-group select {
    height: 32px;
    width: 60px;
}

register-group textarea {
    height: 78px;
}

/*
  ========================================
  Button
  ========================================
*/

.btn {
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  letter-spacing: .5px;
  margin: 0;
  text-transform: uppercase;
}

.btn-alt {
  border: 1px solid #fff;
  padding: 10px 30px;
}

.btn-alt:hover {
  background: #000;
  color: #648880;
}

.btn-default {
    border: 0;
    background: #44444b;
    padding: 11px 30px;
    font-size: 14px;
}

.btn-default:hover {
    background: #a91d1d;
}



/*
  ========================================
  Footer
  ========================================
*/

footer {
    background: #41444b;
    color: #fff;
    padding: 40px;
}

.main-footer {
    text-align: center;
}

.footer {
    text-align: center;
}

/*
  ========================================
  iframe
  ========================================
*/

iframe {
    width: 100%;
}